<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>原始语法</title>
</head>
<body>
    <div class="content"></div>
    <script src="./template-web.js"></script>
    <script id="test" type="text/html">
        
        <h1><%=title%></h1>
        <ul>
            <% for (var i = 0; i < list.length; i++) { %>
                <li>索引<%= i+1 %>: <%= list[i] %></li>
            <% } %>
       
        </ul>
    </script>

    <script>
        let data = {
            title: 'art-template',
            isTemplate: 'true',
            list: ['读书', '唱歌', '跳舞', '摄影', '跑步', '爬山', '骑行']
        }
        let html = template('test', data)

        document.querySelector('.content').innerHTML = html
        
    </script>
</body>
</html>